/* swiperStyles.css */
.mySwiper {
  /* Swiperコンテナのカスタムスタイル */
}

.mySwiper .swiper-slide {
  /* スライドの幅やその他のスタイルを調整 */
  width: 80%; /* 例: スライドの幅を画面の80%に設定 */
  height: auto; /* 高さを自動調整 */
  /* 必要に応じて他のスタイルを追加 */
}

.swiper-container {
  width: 100%;
  margin: 40px 0;
  padding: 45px 0;
}

.swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: 0.7s;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
}
.swiper-slide-next {
  scale: 0.8;
}
.swiper-slide-prev {
  scale: 0.8;
}
